<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIn</title>
</head>

<body>

    <section class="container">

        <div class="iphone-x">

            <div class="iphone-nav-top">
                <p>9:59</p>
                <div class="iphone-nav-icons">
                    <i class="fas fa-signal spacing-notch"></i>
                    <i class="fas fa-wifi"></i>
                    <i class="fas fa-battery-full"></i>
                </div>
            </div>

            <div class="top-bar">
                <a href="/">Agenda</a>
                <h1 class="schedule-h1">Log In</h1>
                <a href="/register/index">Register</a>
            </div>

            <div class="log-in-form">
                <form action="/login/login" class="form-style form-login" method="POST">
                    <input type="hidden" name="_csrf" value=<%=csrfToken%>>
                    <div class="container-field-style">
                        <label>Email:</label>
                        <input type="email" class="fields" name="email-field">
                    </div>

                    <div class="container-field-style">
                        <label>Password:</label>
                        <input type="password" class="fields" name="password-field">
                    </div>

                    <button class="button-submit">Submit</button>

                </form>
            </div>

            <%- include('includes/messages'); %>

                <div class="iphone-line"></div>
        </div>

    </section>

    <script src="https://kit.fontawesome.com/313dbfcd46.js" crossorigin="anonymous"></script>
    <script src="../assets/js/bundle.js">
    </script>
</body>

</html>